@model pnl.Data.Models.PagesConfig
<form>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            @Html.LabelFor(c => c.TopSubTitle);
            @Html.TextAreaFor(c => c.TopSubTitle, 5, 10, new { @class = "", @id = "editor_TopSubTitle", @style = "display:none;" })
        </div>
        <div class="col-sm-12 col-md-5">
            @Html.LabelFor(c => c.Title);
            @Html.TextAreaFor(c => c.Title, 5, 10, new { @class = "", @id = "editor_Title", @style = "display:none;" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            @Html.LabelFor(c => c.TopSubTitle);
            @Html.TextAreaFor(c => c.Message, 5, 10, new { @class = "", @id = "editor_Message",@style="display:none;" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit">Update</button>
        </div>
    </div>
</form>

