@model pnl.Models.TaxFormViewModel


    <component type="typeof(TaxFormPage)" render-mode="ServerPrerendered"/>

    <!--<form asp-action="create" asp-controller="TaxForm">
        <div>Enter Year</div>
        <component type="typeof(NewTaxYear)" render-mode="ServerPrerendered"/>
       
        @Html.HiddenFor(c => c.CurrentUser.id)
        <h4>Basic Information</h4>
        <div>@Model.CurrentUser.FirstName</div>
        <div>@Model.CurrentUser.LastName</div>
        <div>@Model.CurrentUser.MiddleName</div>
        <div>@Model.CurrentUser.Phone</div>
        <div>@Model.CurrentUser.Email</div>
        <div>@Model.CurrentUser.Birthday.ToString("dd/MM/yyyy")</div>
        <div>@Model.CurrentUser.SSN</div>
        <div>@Model.CurrentUser.Occupation</div>
        <br />
        <br />
        <h4>Mailing ddress</h4>

        <div>@Model.Address.Address1</div>
        <div>@Model.Address.Address2</div>
        <div>@Model.Address.City</div>
        <div>@Model.Address.State</div>
        <div>@Model.Address.Zip</div>

        <h4>Check All That Apply:</h4>
        
        <component type="typeof(Toggled)" render-mode="ServerPrerendered" param-Source="@Model.HOptions" />
        <component type="typeof(DependentForm)" render-mode="ServerPrerendered" param-TaxFormID="@Model.CurrentTaxForms.ID" />-->

       
        @*<input type="submit" />*@
    <!--</form>
    <h4>Dependent (if applicable)</h4>-->
<br/>
<br />
<br />



    @*@Html.RenderPartialAsync("DependentForm", Model.Dependent);*@