@model pnl.Models.UserAccountViewModel

<form asp-action="Update" asp-controller="UserAccount">
    @Html.HiddenFor(c => c.CurrentUser.id)
    @Html.HiddenFor(c => c.CurrentUser.UserId)
    <h4>Basic Information</h4>
    <input type="text" name="CurrentUser.FirstName" placeholder="FirstName" value="@Model.CurrentUser.FirstName" />
    <input type="text" name="CurrentUser.LastName" placeholder="LastName" value="@Model.CurrentUser.LastName" />
    <input type="text" name="CurrentUser.MiddleName" placeholder="MiddleName" value="@Model.CurrentUser.MiddleName" />
    <input type="text" name="CurrentUser.Phone" placeholder="Phone" value="@Model.CurrentUser.Phone" />
    <input type="email" name="CurrentUser.Email" placeholder="Email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" value="@Model.CurrentUser.Email" />
    <input type="date" name="CurrentUser.Birthday" placeholder="Birthday" value="@Model.CurrentUser.Birthday.ToString("yyyy-MM-dd")" />
    <input type="text" name="CurrentUser.SSN" placeholder="555-55-5555" pattern="\d{3}-?\d{2}-?\d{4}" value="@Model.CurrentUser.SSN" />
    <input type="text" name="CurrentUser.Occupation" placeholder="Occupation" value="@Model.CurrentUser.Occupation" />
    <br />
    <br />
    <h4>Address</h4>
    @Html.HiddenFor(c => c.Address.id)
    @Html.HiddenFor(c => c.Address.PersonID)
    <input type="text" name="Address.Address1" placeholder="Address1" value="@Model.Address.Address1" />
    <input type="text" name="Address.Address2" placeholder="Address2" value="@Model.Address.Address2" />
    <input type="text" name="Address.City" placeholder="City" value="@Model.Address.City" />
    <input type="text" name="Address.State" placeholder="State" value="@Model.Address.State" />
    <input type="text" name="Address.Zip" placeholder="Zip" value="@Model.Address.Zip" />

    <input type="submit" value="Update" placeholder="Update" />
</form>

