@inject TaxFormService service

<h4>Basic Information</h4>
<Card Style="max-width: 345px;">
    <CardContent>
        <Typography Style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.FirstName @CurrentUser?.MiddleName @CurrentUser?.LastName</Typography>                
        <Typography Style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Occupation</Typography>
        <Typography Style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.SSN</Typography>
        <Typography Style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Email</Typography>
        <Typography Style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Phone</Typography>
        <Typography Style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Birthday.ToString("dd/MM/yyyy")</Typography>
    </CardContent>
</Card>

@code {
    public  Person CurrentUser { get; set; }

    protected override Task OnInitializedAsync()
    {
            GetUserInfo();
            return base.OnInitializedAsync();
    }

    private void GetUserInfo()
    {
        CurrentUser = service.GetCurrentUser();
    }
}
