@inject TaxFormService service


<div style="max-width: 100%; min-height: 100%; padding:20px;" class="CurrentUserInfo">
            
        @if (isUserInfo)
        {
            <CurrentUserInfoForm OnSave="OnSave" CurrentUser="CurrentUser" TaxFormID="TaxFormID" @ref="cuif" />
        }
        else
        {
            
                <div style="padding-left:20px;">
                    <div class="CurrentUserInfoBox">
                        <div>Is this information correct?</div>
                        <div>
                            @if (ShowUpdateUserInfoMesage)
                            {
                                <div class="alert alert-info">
                                    Do you want to update your profile information with the recent update?
                                    <Button OnClick="()=> { UpdateCurrentUserMainInfo(); }">Yes</Button>
                                    <Button OnClick="(() => { ShowUpdateUserInfoMesage = !ShowUpdateUserInfoMesage; })">No</Button>
                                </div>
                            }
                        </div>
                    </div>
            
                
                <div>
                    <div style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.FirstName @CurrentUser?.MiddleName @CurrentUser?.LastName</div>
                    <div style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Occupation</div>
                    <div style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.SSN</div>
                    <div style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Email</div>
                    <div style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Phone</div>
                    <div style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>@CurrentUser?.Birthday.ToString("dd/MM/yyyy")</div>
                </div>
            </div>
        }
        <div >
            <Button FullWidth OnClick="Save">@displayCUbtnLabel()</Button>
        </div>
</div>



@code {

    [Parameter]
    public int TaxFormID { get; set; }
    public Person CurrentUser { get; set; }
    private bool isUserInfo { get; set; } = false;
    CurrentUserInfoForm cuif;
    public bool ShowUpdateUserInfoMesage { set; get; } = false;



    protected override Task OnInitializedAsync()
    {
        GetUserInfo();
        return base.OnInitializedAsync();
    }

    private void GetUserInfo()
    {
        CurrentUser = service.GetCurrentUser(TaxFormID);
    }

    public string displayCUbtnLabel()
    {
        if (isUserInfo)
        {

            return "Save";
        }
        else
        {
            return "Edit";
        }

    }
    public void OnSave(Person model)
    {
        CurrentUser = service.SaveTaxFormCurrentUserInfo(model, TaxFormID);

    }
    public void UpdateCurrentUserMainInfo()
    {

        service.UpdateCurrentUser(CurrentUser);
        ShowUpdateUserInfoMesage = !ShowUpdateUserInfoMesage;
    }
    public void Save()
    {
        isUserInfo = !isUserInfo;
        ShowUpdateUserInfoMesage = false;
        if (!isUserInfo)
        {
            cuif.Save();
            ShowUpdateUserInfoMesage = true;

            StateHasChanged();
        }
    }
}
