@inject TaxFormService service
<Card Style="max-width: 100%; min-height:100%; padding:20px;" class="CurrentAddress">
    <div Container>
        @if (isEdit)
        {
            <div>
                <InputText name="Address.Address1" placeholder="Address1" @bind-Value="@UserCurrentAddress.Address1" />
                <InputText name="Address.Address2" placeholder="Address2" @bind-Value="@UserCurrentAddress.Address2" />
                <InputText name="Address.City" placeholder="City" @bind-Value="@UserCurrentAddress.City" />
                <InputText name="Address.State" placeholder="State" @bind-Value="@UserCurrentAddress.State" />
                <InputText name="Address.Zip" placeholder="Zip" @bind-Value="@UserCurrentAddress.Zip" />
            </div>
        }
        else
        {
            <div>
                <div style="padding-left:20px;">
                    Mailing address
                </div>
                <div>
                    <div style="font-size: 14px;">@UserCurrentAddress.Address1</div>
                    <div Style="font-size: 14px;">@UserCurrentAddress.Address2</div>
                    <div style="font-size: 14px;">@UserCurrentAddress.City</div>
                    <div style="font-size: 14px;">@UserCurrentAddress.State</div>
                    <div style="font-size: 14px;">@UserCurrentAddress.Zip</div>
                </div>
            </div>
        }

        <div>
            <Button FullWidth OnClick="SaveCurrentTaformAddres">@displayCUbtnLabel()</Button>
        </div>

    </div>
</Card>
        @code {
            [Parameter]
            public int TaxFormID { get; set; }
            [Parameter]
            public bool isEdit { get; set; } = false;

            public Address UserCurrentAddress { get; set; }

            protected override Task OnInitializedAsync()
            {
                GetCurrentUserAddress();
                return base.OnInitializedAsync();
            }
            public void SaveCurrentTaformAddres()
            {
                isEdit = !isEdit;
                
            }

            private void GetCurrentUserAddress()
            {
                UserCurrentAddress = service.GetCurrentUserAddress();
            }

            public string displayCUbtnLabel()
            {
                if (isEdit)
                {

                    return "Save";
                }
                else
                {
                    return "Edit";
                }

            }




        }
