@inject TaxFormService service

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="mininavigation">
                <div class="mini-navigation-inner-box">
                    <button id="viewDocument">
                        <img src="/img/document-management-icon-sm.svg"
                             class="viewDocIcon" />
                        <span> View Your Documents</span>
                    </button>
                    <button id="SaveAndReturn">
                        <img src="/img/home-icon.svg" class="viewDocIcon" />
                        <span>Save & Return To Dashboard</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="min-height: 100%; padding-bottom: 90px">
    <div class="container main-border">
        <div class="row">
            <div class="col-sm-12">
                <div class="steps-top-nav">
                    <span class="steps-box" @onclick="async()=>await Goto(1)">
                        <div class="step-number">STEP 1</div>
                        <div class="step-caption">Basic Information</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(2)">
                        <div class="step-number">STEP 2</div>
                        <div class="step-caption">Personal information</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(3)">
                        <div class="step-number">STEP 3</div>
                        <div class="step-caption">income</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(4)">
                        <div class="step-number step-number-active">STEP 4</div>
                        <div class="step-caption">Additional Information</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(1)">
                        <div class="step-number">STEP 5</div>
                        <div class="step-caption">review</div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="hr-line">
                    <hr />
                </div>
            </div>
        </div>

        <!--part 2-->
        <div class="row">
            <div class="col-sm-12 bold900">
                <div class="the-row-column-content step-3-parts-title align-start">
                   @formSteps.First(c=>c.Section == 1).SectionName
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    <span>                       
                       @formSteps.First(c=>c.Section==1).Questions.OrderBy(c=>c.Order).ToList()[0].TheQuestion
                       @(email.QuestionId = formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[0].Id)
                    </span>
                    <span>
                        <input type="email" @bind-value="email.TheAnswer" name="email" />
                    </span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    <span>
                        @formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[1].TheQuestion
                        @(campaignfunds.QuestionId = formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[1].Id)
                    </span>
                    <span>
                        <input type="text" @bind-value="campaignfunds.TheAnswer" name="campaignfunds" />
                    </span>
                </div>
                <div class="the-row-column-content">
                    @formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[2].TheQuestion
                </div>
                <div class="the-row-column-title">
                    <span class="inline-radio-box">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                   name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[2].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[2].Id,"Yes"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[2].Id,"Yes"))"
                                    />
                            <label class="form-check-label" for="gotMarryLastYearyes">Yes</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                   name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[2].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[2].Id,"Spouse"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[2].Id,"Spouse"))"
                                    />
                            <label class="form-check-label" for="gotMarryLastYearno">
                                Spouse
                            </label>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    @formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[3].TheQuestion
                </div>
                <div class="the-row-column-content align-inline">
                    <div>a. Direct deposit</div>
                    <span class="inline-radio-box">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[3].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[3].Id,"Yes"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[3].Id,"Yes"))"
                                   />
                            <label class="form-check-label" for="gotMarryLastYearyes">Yes</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[3].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[3].Id,"No"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[3].Id,"No"))"
                                    />
                            <label class="form-check-label" for="gotMarryLastYearno">
                                No
                            </label>
                        </span>
                    </span>
                </div>               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    <span>
                        @formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[4].TheQuestion
                    </span>
                    <span class="inline-radio-box">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[4].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[4].Id,"Yes"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[4].Id,"Yes"))"
                                   />
                            <label class="form-check-label" for="gotMarryLastYearyes">Yes</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[4].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[4].Id,"No"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[4].Id,"No"))"
                                    />
                            <label class="form-check-label" for="gotMarryLastYearno">
                                No
                            </label>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    <span>
                        @formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[5].TheQuestion
                    </span>
                    <span class="inline-radio-box">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                   name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[5].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[5].Id,"Yes"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[5].Id,"Yes"))"
                                   />
                            <label class="form-check-label" for="gotMarryLastYearyes">Yes</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[5].Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[5].Id,"No"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[5].Id,"No"))"
                                   />
                            <label class="form-check-label" for="gotMarryLastYearno">
                                No
                            </label>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content bold900">
                    Many free tax preparation sites operate by receiving grant money.
                    The data from the following questions may be used by this site to
                    apply for these grants.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="com-sm-12">
                <div class="the-row-column-content">
                    Your answers will be used only for statistical purposes.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    <span>
                        @formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 7).TheQuestion
                        @(languages.QuestionId = formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 7).Id)
                    </span>
                    <span>
                        <input type="text" class="light-pink-bk" @bind-value="languages.TheAnswer" name="Languages"/>
                    </span>
                    <span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="checkbox"
                                    name="@formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 8).Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 8).Id,"Prefer not to answer"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 8).Id,"Prefer not to answer"))"
                                   />
                            <label class="form-check-label" for="NeverMarriedid">
                                Prefer not to answer
                            </label>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    <span>
                        @formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9)TheQuestion
                    </span>

                    <span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9).Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9).Id,"Yes"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9).Id,"Yes"))"
                                   />
                            <label class="form-check-label" for="flexRadioDefault1">Yes</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1)..Questions.First(c => c.Order == 9).Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9).Id,"No"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order ==9).Id,"No"))"
                                   />
                            <label class="form-check-label" for="flexRadioDefault2">
                                No
                            </label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9).Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9).Id,"Unsure"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 9).Id,"Unsure"))"
                                   />
                            <label class="form-check-label" for="flexRadioDefault2">
                                Unsure
                            </label>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="the-row-column-content">
                    <span>
                        @formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).TheQuestion
                    </span>

                    <span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                   name="@formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id,"Yes"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id,"Yes"))"
                                   />
                            <label class="form-check-label" for="flexRadioDefault1">Yes</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                   name="@formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id,"No"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id,"No"))"
                                   />
                            <label class="form-check-label" for="flexRadioDefault2">
                                No
                            </label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                    name="@formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id"
                                    checked="@(GetRadioState(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id,"Unsure"))"
                                    @onchange="@(()=>SetAnswer(formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 10).Id,"Unsure"))"
                                   />
                            <label class="form-check-label" for="flexRadioDefault2">
                                Unsure
                            </label>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="step-nav-box">
                    <div class="step-nav">
                        <div id="next-step">
                            <button id="prev-step" @onclick="Prv">Previous Step</button>
                        </div>
                        <div id="next-step">
                            <button @onclick="Next">Next Step</button>
                        </div>
                        <div id="next-step">
                            <button id="revire-submit" @onclick="SubmitReview">Review & Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@code{
    [Parameter]
    public EventCallback<int> NextPage { get; set; }

    [Parameter]
    public EventCallback<int> PrvPage { get; set; }

    [Parameter]
    public EventCallback<int> FinalPage { get; set; }

    [Parameter]
    public int TaxFormID { get; set; }

    public List<FormStep> formSteps { get; set; }

    public List<Question> questions { set; get; }
    public List<Answer> answers { get; set; }

    public Answer email { get; set; }
    public Answer campaignfunds { get; set; }
    public Answer languages { get; set; }
    public bool ansChkQ8 { get; set; } = false;

    protected override void OnInitialized()
    {

        formSteps = new List<FormStep>();
        answers = new List<Answer>();
        answers = service.GetAnswers(TaxFormID,4);

        formSteps = service.GetFormStep(4);

        email = (answers.FirstOrDefault(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[0].Id) !=null) ? answers.First(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[0].Id) : new Answer();
        campaignfunds = (answers.FirstOrDefault(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[1].Id) != null) ? answers.First(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.OrderBy(c => c.Order).ToList()[1].Id) : new Answer();
        languages = (answers.FirstOrDefault(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 7).Id) != null) ? answers.First(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 7).Id) : new Answer();

        ansChkQ8 = (answers.FirstOrDefault(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 8).Id) != null) ? (answers.First(c => c.QuestionId == formSteps.First(c => c.Section == 1).Questions.First(c => c.Order == 7).Id).TheAnswer =="true") : false;

        base.OnInitialized();
    }
    public async Task Next()
    {
        if (email.Id == 0 && email.TheAnswer!=null)
        {
            email.TaxFormId = TaxFormID;
            email.UpdatedOn = DateTime.Now;
            email.AnsweredOn = DateTime.Now;
            answers.Add(email);

        }
        if (campaignfunds.Id == 0 && campaignfunds.TheAnswer != null)
        {
            campaignfunds.TaxFormId = TaxFormID;
            campaignfunds.UpdatedOn = DateTime.Now;
            campaignfunds.AnsweredOn = DateTime.Now;
            answers.Add(campaignfunds);
        }
        if (languages.Id == 0 && languages.TheAnswer!=null)
        {
            languages.TaxFormId = TaxFormID;
            languages.UpdatedOn = DateTime.Now;
            languages.AnsweredOn = DateTime.Now;
            answers.Add(languages);
        }

        service.SaveProgressStep3(answers);
        await NextPage.InvokeAsync(5);
    }
    public async Task Prv()
    {
        await PrvPage.InvokeAsync(3);
    }
    public async Task SubmitReview()
    {
        service.SaveProgressStep3(answers);
        await FinalPage.InvokeAsync(5);
    }
    public async Task Goto(int gotoStep)
    {
        await NextPage.InvokeAsync(gotoStep);
    }

    public void SetAnswer(int qId, string qAn)
    {
        if (answers.Any(c => c.QuestionId == qId))//update
        {
            Answer ans = answers.First(c => c.QuestionId == qId);
            ans.TheAnswer = qAn;
            ans.UpdatedOn = DateTime.Now;
        }
        else //insert
        {
            answers.Add(new Answer { TaxFormId = TaxFormID, QuestionId = qId, TheAnswer = qAn, AnsweredOn = DateTime.Now, UpdatedOn = DateTime.Now });
        }
    }
    public bool GetRadioState(int id, string val)
    {
        if (answers.Any(c => c.QuestionId == id))
        {
            var checkedval = (answers.First(c => c.QuestionId == id).TheAnswer == val) ? true : false;
            return checkedval;
        }
        return false;
    }

}
