@inject TaxFormService service
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="mininavigation">
                <div class="mini-navigation-inner-box">
                    <button id="viewDocument">
                        <img src="/img/document-management-icon-sm.svg" class="viewDocIcon" />
                        <span> View Your Documents</span>
                    </button>
                    <button id="SaveAndReturn">
                        <img src="/img/home-icon.svg" class="viewDocIcon" />
                        <span>Save & Return To Dashboard</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="min-height: 100%; padding-bottom: 90px">
    <div class="container main-border">
        <div class="row">
            <div class="col-sm-12">
                <div class="steps-top-nav">
                    <span class="steps-box" @onclick="async()=>await Goto(1)">
                        <div class="step-number step-number-active">STEP 1</div>
                        <div class="step-caption step-caption-active">Basic Information</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(2)">
                        <div class="step-number">STEP 2</div>
                        <div class="step-caption">Personal information</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(3)">
                        <div class="step-number">STEP 3</div>
                        <div class="step-caption">income</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(4)">
                        <div class="step-number">STEP 4</div>
                        <div class="step-caption">Additional Information</div>
                    </span>
                    <span class="steps-box" @onclick="async()=>await Goto(5)">
                        <div class="step-number">STEP 5</div>
                        <div class="step-caption">review</div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="hr-line">
                    <hr />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="the-row-column-content">
                    <div class="awesomejohn">All right</div>
                    <div class="john">@CurrentUser.FirstName!</div>
                    <p class="colorpkblue basic-info-parrg1">
                        Let's start by getting some basic information.
                        use the right column to add or edit your full name,
                        telephone, email & mailing address
                    </p>
                    <p class="colorpkblue basic-info-parrg2">
                        You can also get a jumpstart by uploading your
                        previous tax return which would automatically
                        provide us with important information.
                    </p>

                    <form action="/file-upload" class="dropzone">
                        <div class="dz-message" data-dz-message><span>Upload Previous Tax Returns</span></div>
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>

                    <p class="step1-fileupload-message">
                        You can click here to upload PDF document or you can drag and
                        drop the document to this box.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="the-row-column-content">
                    <div class="basic-information-title paddingbotttom25px">Basic information</div>
                    <div class="main-border-grey  padding30px">
                        <div class="name">@CurrentUser?.FirstName @CurrentUser?.MiddleName @CurrentUser?.LastName</div>
                        <div class="tel">tel:<a href="tel:@CurrentUser?.Phone">@CurrentUser?.Phone</a></div>
                        <div class="email">Email: <a href="mailto: @CurrentUser?.Email">@CurrentUser?.Email</a></div>
                        <br>
                        <div class="mainling-address paddingtop20px">
                            Mailing Address
                        </div>
                        <div class="address1">@UserCurrentAddress.Address1</div>
                        <div class="address2"> @UserCurrentAddress.Address2</div>
                        <div class="city">@UserCurrentAddress.City</div>
                        <div class="statezipcode">@UserCurrentAddress.State, @UserCurrentAddress.Zip</div>
                        <div class="photo-id">
                            <span>
                                <img src="/img/photo-id-icon.svg" />
                            </span>
                            <span class="photo-id-label">Photo ID</span>
                            <span class="check-list-chk paddingleft10px">
                                <div class="form-check form-check-inline">
                                    <input class=""
                                           type="checkbox"
                                           value=""
                                           name="NeverMarried"
                                           id="NeverMarriedid" />
                                    <label class="form-check-label" for="NeverMarriedid">

                                    </label>
                                </div>
                            </span>
                            <span class="colorpkblue"><a href="/">Upload Document</a></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="step-nav-box">
                        <div class="step-nav">
                            <div id="next-step">
                                @*<form action="/step2.html">*@
                                <button id="next-step-id" @onclick="Next">Next Step</button>
                                @*</form>*@
                            </div>
                            <div id="next-step">
                                @*<form action="/step5-2.html">*@
                                <button id="revire-submit" @onclick="SubmitReview">Review & Submit</button>
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> NextPage { get; set; }
    [Parameter]
    public EventCallback<int> FinalPage { get; set; }
    [Parameter]
    public int TaxFormID { get; set; }
    [Parameter]
    public Person CurrentUser { get; set; }
    [Parameter]
    public Address UserCurrentAddress { get; set; }

    public async Task Next()
    {
        await NextPage.InvokeAsync(2);
    }
    public async Task SubmitReview()
    {
        await FinalPage.InvokeAsync(5);
    }

    public async Task Goto(int gotoStep)
    {
        await NextPage.InvokeAsync(gotoStep);
    }


}
