<Paper class="demo-tabs-root">
    <AppBar Position="@AppBarPosition.Static">
        <Tabs Value="@Value"
              OnChange="@HandleChange"
              aria-label="wrapped label tabs example">
            <Tab Id="wrapped-tab"
                 Control="wrapped-tabpanel"
                 Wrapped
                 Label="2018"
                 Value="0" />
            <Tab Id="wrapped-tab"
                 Control="wrapped-tabpanel"
                 Label="2019"
                 Value="1" />
            <Tab Id="wrapped-tab"
                 Control="wrapped-tabpanel"
                 Label="2020"
                 Value="2" />
        </Tabs>
    </AppBar>
        <div style="@((int.Parse(Value.ToString()) == 0))"> 2016 </div>
        <div style="@((int.Parse(Value.ToString()) == 1))"> 2017 </div>
        <div style="@((int.Parse(Value.ToString()) == 3))"> 2018 </div>
        <div style="@((int.Parse(Value.ToString()) == 4))"> 2019 </div>
        <div style="@((int.Parse(Value.ToString()) == 5))"> 2020 </div>
</Paper>

@code
        {
    private object Value { set; get; } = 0;

    public int tabindex { get; set; } = 5;

    private void HandleChange(object value)
    {
        Value = value;

        StateHasChanged();
    }
}