@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4 offset-md-3">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="landing-content data-audit">
                <div class="signin-form">
                    <div class="signin-form-company-title">Register</div>
                    <hr />
                    <div class="signin-form-subtop">
                        <div class="secured">
                            <div class="securedIcon"></div>
                            <div class="securedCaption">Secured</div>
                        </div>
                        <div class="advance">
                            <div class="advanceIcon"></div>
                            <div class="advanceCaption">Secured</div>
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <div class="emailIcon"></div>
                        <div class="emailInput">
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email" />
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-box">
                        <div class="passwordlIcon"></div>
                        <div class="passwordlInput">
                            <input type="password" asp-for="Input.Password" value="" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="input-box">
                        <div class="passwordlIcon"></div>
                        <div class="passwordlInput">
                            <input type="password" asp-for="Input.ConfirmPassword" value="" class="form-control" placeholder="Confirm Password" />
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <div class="signin-button-box">

                        <button type="submit" class="btn btn-primary">
                            <div class="signin-button-inner-box">
                                <div class="signinBtnIcon"></div>
                                <div class="signin-btn-text">Register</div>
                            </div>
                        </button>
                    </div>
                    <div class="terms-conditions">
                        By clicking Register, you agree to our Terms and have read and
                        acknowledge our US Privacy Statement.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@*<div class="row">

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
